    /* Navigation Bar */
    
    #navbar {
        flex-direction: column;
    }
    
    #navbar::before {
        height: 90%;
    }
    
    #navbar ul li a {
        font-size: 1rem;
        padding: 0px 7px;
        padding-bottom: 8px;
    }
    /* Home Section */
    
    #home {
        height: 575px;
        padding: 10px 28px;
    }
    
    #home::before {
        height: 800px;
    }
    
    #home p {
        font-size: 13px;
    }
    
    #services {
        flex-direction: column;
    }
    
    #services .box {
        padding: 14px;
        margin: 2px 0px;
        margin-bottom: 20px;
    }
    
    #clients {
        flex-wrap: wrap;
    }
    
    #clients img {
        width: 66px;
        padding: 6px;
        height: auto;
    }
    
    .h-primary {
        font-size: 26px;
    }
    
    .btn {
        font-size: 13px;
        padding: 4px 8px;
    }
    /* Services Section */
    /* Client Section */
    /* Contact Section */
    /* Footer */